<%- include('../includes/header.ejs') %>
<div class="pokemons">
    <img
            src="https://preview.redd.it/3tov2at7f8n31.png?width=960&crop=smart&auto=webp&s=e7d4731a611be14d760c4e1771e6e1271db04fbb"
            alt="logo"
    />
    <p class="green"> Шановний клієнте💾 <span class="pink"><%= purchaseData.name %> <%= purchaseData.surname %></span>,
        ваше замовлення🛒 скасовано🚮!🙅‍♂</p>
    <p class="green"> Для оформлення нового замовлення перейдіть будь ласка на наш сайт за посиланням <a href="<%= SITE %>">PIZZACHU </a>!💻</p>

</div>
<%- include('../includes/footer.ejs', {SITE}) %>
