<%- include('../includes/header.ejs') %>
<div class="pokemons">
    <img
            src="https://preview.redd.it/3tov2at7f8n31.png?width=960&crop=smart&auto=webp&s=e7d4731a611be14d760c4e1771e6e1271db04fbb"
            alt="logo"
    />
    <p class="green"> ะกัะฒะพัะตะฝะพ ะฝะพะฒะธะน ะฟัะพะดัะบั ะฐะดะผัะฝะต๐พ: <%= userFromDB.name %> <%= userFromDB.surname %>!๐</p>
    <p class="pink"> ะะฐะทะฒะฐ ะฟัะพะดัะบัั: <%= isProductCreated.name %>๐</p>
    <p class="pink"> ะะฟะธั ะฟัะพะดัะบัั: <%= isProductCreated.description %>๐</p>
    <p class="pink"> ะฆัะฝะฐ ะฟัะพะดัะบัั: <%= isProductCreated.price %>ะณัะฝ.๐ต</p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
