<%- include('../includes/header.ejs') %>
<div class="pokemons">
    <img
            src="https://preview.redd.it/3tov2at7f8n31.png?width=960&crop=smart&auto=webp&s=e7d4731a611be14d760c4e1771e6e1271db04fbb"
            alt="logo"
    />
    <p class="green"> ะัะบััะผะพ ะทะฐ ัะตััััะฐััั๐พ: <%= user.name %> <%= user.surname %>!๐</p>
    <p class="pink"> ะะฐั ะตะผะตะนะป: <%= user.email %> ๐ง</p>
    <p class="pink"> ะะฐั ะฟะฐัะพะปั: <span style="color: black"><%= password %></span> ๐</p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
