<%- include('../includes/header.ejs') %>
<div class="pokemons">
    <img
            src="https://preview.redd.it/3tov2at7f8n31.png?width=960&crop=smart&auto=webp&s=e7d4731a611be14d760c4e1771e6e1271db04fbb"
            alt="logo"
    />
    <p class="green"> ะะฝะพะฒะปะตะฝะพ ัะตะบััั ะฟัะพะดัะบัั ะฐะดะผัะฝะต๐พ: <%= userFromDB.name %> <%= userFromDB.surname %>!๐</p>
    <p class="pink"> ะะฐะทะฒะฐ ัะตะบััั ะฟัะพะดัะบัั <%= updatedProductSection.section %> ะทะผัะฝะตะฝะพ ะฝะฐ <%= productSection.section %>๐</p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
